*.cache
*.cover
*.egg
*.egg-info/
*.log
*.md
*.mo
*.pid
*.po
*.pot
*.py[codz]
*.rst
*.so
*.sw[op]
*.txt
*~
.DS_Store
.Python
.coverage
.cspellcache
.dockerignore
.editorconfig
.eggs/
.env*
.git/
.gitattributes
.github/
.gitignore
.mailmap
.markdownlint.json
.pre-commit-config.yaml
.pytest_cache/
.python-version
.readthedocs.yaml
.ruff_cache/
.secrets.baseline
.uv-stamp
.venv/
.vscode/
Dockerfile
Makefile
__pycache__/
__pypackages__/
assets/
badges/
build/
codecov.yml
coverage.xml
cspell.json
docs/
eggs/
env/
htmlcov/
make.bat
pip-delete-this-directory.txt
sdist/
tests/
venv/
wheels/
