*.cache
*.cover
*.egg
*.egg-info/
*.log
*.mo
*.pid
*.po
*.pot
*.py[codz]
*.so
*.sw[op]
*.whl
*~
.DS_Store
.Python
.coverage
.cspellcache
.eggs/
.env*
.pytest_cache/
.python-version
.ruff_cache/
.uv-stamp
.venv/
ENV/
__pycache__/
__pypackages__/
build/
coverage.xml
dist/
docs/source/api/
docs/source/help.rst
docs/source/makefile-usage.rst
eggs/
env/
htmlcov/
sdist/
venv/
wheels/
